html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Libre Franklin', sans-serif;
}
header {
  background-color: #6e929e;
  padding-bottom: 25px;
  padding-top: 5px;
  padding-left: 90px;
  color: white;
  font-size: 20px;
}
button {
  color: white;
  font-size: 20px;
  background-color: #374b52;
  border: 5px, solid, #374b52;
  border-radius: 10px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  border-right: 90px solid #374b52;
  border-left: 90px solid #374b52;
  text-align: justify;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-box-image {
  flex-basis: 30%;
  padding: 20px;
}
.flex-box-about {
  flex-basis: 70%;
  padding: 20px;
}
p3 {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
table {
  border-spacing: 20px;
}
img {
  border-radius: 10px;
}
h2 {
  background-color: #6e929e;
  padding: 10px;
  border: 5px solid #6e929e;
  border-radius: 10px;
  color: white;
  font-size: 24px;
}
p1 {
  font-size: 18px;
}
.flex-experience {
  padding-left: 20px;
}
dt {
  font-weight: bold;
  font-size: 16px;
  color: #374b52;
}
dd {
  font-size: 14px;
}

footer {
  background-color: #6e929e;
  padding: 5px;
  color: white;
}
